

<div fsPin container="window">

  <p>Because organic food is healthier for you in general, contains fewer chemicals and
  promotes a better environment, it is a better lifestyle choice. In the last ten years, there has been
  much attention paid to organic foods and how they are redefining the way in which we consume
  agricultural goods. Various health groups and universities have undergone studies in order to
  show that organic food is a better option for consumers. However, major news reporters and
  some experts have claimed that there was “hype” with organic food and it did not represent
  healthier lifestyle options for consumers. In looking further at organic food and how it differs
  from traditional fruits and vegetables (or other food items), it’s clear that there are some benefits
  to it that are not present in normal foods.
  </p>
  <p>
  Organic food is just better for you. Recent studies done by a major research university,
  Stanford, have shown that organic food is healthier for you on the grounds that it is not modified
  and has better chemicals. While we consider most fruits and vegetables to be the same, going to
  the grocery store and picking out our food does not tell us where it came from or how it was
  raised. Deirde Imus reported for Fox News that the Stanford organic food study she researched
  “revealed that organic fruits and vegetables contain on average 12 percent more health promoting
  compounds than conventionally grown produce – compounds like secondary metabolites, which
  are believed to protect against obesity, cancer, and heart disease” (Imus).
  </p>

  <h2>Ultius 2</h2>
  <p>
  There are chemicals in organic foods that are natural, great for our immune system and just not
  found in other foods that we eat today. Clearly, the fact that organic food is not heavily modified
  or tampered by people shows that there are advantages to natural ingredients.
  Also, it is important to remember that organic food is the intended way for humans to eat.
  While humans have evolved over the course of thousands of years, our bodies are still oriented
  towards eating unmodified food. Because most of the food that we eat today is genetically
  modified or treated in some way, it is unnatural by default. As the human body has not had time
  to evolve and account for the differences in in the food, organic is the natural food that our body
  expects. The organic food that we can buy is wholly not tampered with and represents the closest
  we can possibly get to foods that our ancestors actually ate. Given that there are immense health
  problems with processed foods such as McDonalds and others, obesity is quite common and
  people have yet to realize that these foods are just not natural for humans to eat. Ultimately,
  humans have just not evolved enough to process this tampered food better than we can process
  organic.
  </p>
  <p>
  Organic food lacks unhealthy chemicals. Organic foods are made without using
  pesticides or other chemicals that are not natural, or healthy, for the human body. Recent studies
  at Stanford have showed that organic foods simply lack all of the extraneous pesticides and
  chemicals that are normally used to raise agricultural products as well as meats. But, because
  some chemicals used in food is seriously dangerous, organic foods are a better choice as they
  lack these ingredients. The Stanford study showed that normal foods contained various “types of
  pesticides most toxic to people…” that are very dangerous: “These are insecticides that target the
  nervous system, and they have been linked in studies of American kids with lower birth weight,
  ADHD and hyperactivity” (Castillo). When farmers use chemicals to keep bugs off of their food.
  </p>

  <h2>Ultius 3</h2>
  <p>
  they are simultaneously infecting it with dangerous chemicals that can cause lots of damage to
  people as well. Organic foods, however, do not use these unhealthy chemicals in the process of
  their production. Also, on the grounds that diseases spread because of toxic chemicals in foods,
  organic is better in that way too. For instance, when mad cow disease started to really spread, it
  drew attention to the way in which livestock animals were being treated, physically and
  chemically. Come to find out, the food we eat is tampered and assembled at the lowest possible
  cost. With organic food, you will not find the use of unnatural and unhealthy chemicals to
  preserve it or keep bugs off of it.
  </p>
  <p>
  Because organic food is made without pesticides or other extraneous chemicals, it cannot
  develop tendencies to harm people. For example, according to Crystal Smith-Spangler and
  colleagues, livestock that was organic did lower the chance of people potentially eating food that
  was antibiotic resistant:
  </p>
  <p>
  We found that conventional chicken and pork have a higher risk for contamination with
  bacteria resistant to 3 or more antibiotics than were organic alternatives. This increased
  prevalence of antibiotic resistance may be related to the routine use of antibiotics in
  conventional animal husbandry. (Smith-Spangler 358).
  </p>
  <p>
  Such evidence shows that when consuming pork or chicken that is not organic, there is a much
  higher risk for getting sick. As a result, organic food is a much safer option for those that do not
  want to take the risk of eating genetically modified food that offers more risks. Fewer chemicals
  being used results in a much more natural diet for people and consumption of foods that are safe
  instead of being risky.
  </p>
  <p>
  Organic food is better for the whole environment in general. Besides the personal health
  benefits, organic food is also better for the environment because all of the chemicals used to
  </p>
  <h2>Ultius 4</h2>
  <p>
  produce regular goods are not integrated into the soil, water and air. When pesticides and other
  chemicals are used to produce goods and cattle, they go into the groundwater and fill it with
  chemicals that require filtering to get rid of. According to the Organic Trade Association, “A
  global survey of groundwater pollution shows that a toxic brew of pesticides, nitrogen fertilizers,
  industrial chemicals, and heavy metals is fouling groundwater everywhere” (Organic Trade).
  This shows that when we produce agricultural goods like vegetables and cattle, we are also
  polluting the environment, which is not good for people. This has already caused some issues to
  the current land we use as well: “nearly 40 percent of the world’s agricultural land is seriously
  degraded, undermining both present and future production capacity” (Organic Trade). As a
  result, focusing on growing mostly organic foods will not only lead to healthier lives for the
  individual consuming the foods, but also other individuals (and children of the future) that may
  have suffered as a result. This is a much broader long-term benefit or organic foods.
  In addition, eating organic foods also makes for a much better environment in terms of
  air quality. The main issue is that the current way that we produce foods creates carbon-dioxide,
  which goes into the air and is not beneficial for humans in high quantities. Luckily, “organic
  practices can remove about 7,000 pounds of carbon dioxide from the air each year and sequester
  it in an acre of farmland” (Organic Trade). This means that organic foods actually help improve
  the air quality that we all consume over the long haul. Moreover, when farmers produce organic
  produce, it is much better for the soil. Soil that has been sprayed with pesticides and other
  invasive chemicals suffers from reduced richness of nutrients and quality. However, according to
  the USDA, soil that has only been used to grow organic food has been shown to be richer,
  healthier and more likely to last longer (Teasdale). So, while organic food does offer personal.
  </p>

  <h2>Ultius 5</h2>
  <p>
  Misconceptions about organic food. Despite the evidence given, there have been some
  studies and research initiatives to show that there are no benefits to organic food, and these are
  simply not correct. Because many different studies by different scientists and organizations can
  have different political and economic agendas, there is much more opportunity for them to be
  wholly misread. According to Deirde Imus, “the myth that organic foods are no better than their
  conventional counterparts is beyond salacious: it is simply untrue” (Imus). Many studies have
  been done in order to show that there are scientific and nutritional grounds for the advantages of
  organic foods over regular ones. Even on the basis of just history, we know that tampered and
  genetically modified food is a new age phenomenon. Looking back hundreds of years, we did
  not have this problem beforehand in terms of obesity and other long term negative health trends.
  The core difference over time was that the food became much more processed in terms of how
  chemicals were being used.
  </p>

  <div fsPinPanel panelClass="pin-panel" [fixed]="true" index="10" *ngIf="show">
    <div class="wrapper">
      <button mat-raised-button color="primary">Save A</button>
    </div>
  </div>

  <p>
    Misconceptions about organic food. Despite the evidence given, there have been some
    studies and research initiatives to show that there are no benefits to organic food, and these are
    simply not correct. Because many different studies by different scientists and organizations can
    have different political and economic agendas, there is much more opportunity for them to be
    wholly misread. According to Deirde Imus, “the myth that organic foods are no better than their
    conventional counterparts is beyond salacious: it is simply untrue” (Imus). Many studies have
    been done in order to show that there are scientific and nutritional grounds for the advantages of
    organic foods over regular ones. Even on the basis of just history, we know that tampered and
    genetically modified food is a new age phenomenon. Looking back hundreds of years, we did
    not have this problem beforehand in terms of obesity and other long term negative health trends.
    The core difference over time was that the food became much more processed in terms of how
    chemicals were being used.
    </p>

  <div fsPinPanel panelClass="pin-panel" [fixed]="true" *ngIf="show" #pinB>
    <div class="wrapper">
      <button mat-raised-button color="primary">Save B</button>
      <button mat-raised-button (click)="unpin(pinB)">Unpin</button>
    </div>
  </div>

  <p>
    Misconceptions about organic food. Despite the evidence given, there have been some
    studies and research initiatives to show that there are no benefits to organic food, and these are
    simply not correct. Because many different studies by different scientists and organizations can
    have different political and economic agendas, there is much more opportunity for them to be
    wholly misread. According to Deirde Imus, “the myth that organic foods are no better than their
    conventional counterparts is beyond salacious: it is simply untrue” (Imus). Many studies have
    been done in order to show that there are scientific and nutritional grounds for the advantages of
    organic foods over regular ones. Even on the basis of just history, we know that tampered and
    genetically modified food is a new age phenomenon. Looking back hundreds of years, we did
    not have this problem beforehand in terms of obesity and other long term negative health trends.
    The core difference over time was that the food became much more processed in terms of how
    chemicals were being used.
    </p>
</div>


<!-- <button mat-raised-button (click)="pinWindow()">Pin Window</button>
<button mat-raised-button (click)="pinElement()">Pin Element</button> -->
